.topnav{
  margin: 0 auto;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: row;
  font-family: "century gothic", sans-serif;
}
.topnav li a:hover {
  color: #ffffff;
}

.banner {
  display: flex;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

nav {
  width: 100%;
  height: 100%;
  background-color: #061026;
}
.topnav li {
  width: 125px;
  padding: 15px 15px 15px 15px;
  list-style-type: none;
  margin:  10px 10px;
  text-align: center;
  position: relative;
}
.topnav li ul{
  display: none;
  position: absolute;
  background-color: #081F5C;
}
.topnav li a {
  display: block;
  color: #ffffff;
  font-family: "century gothic", sans-serif;
  font-size: 18px;
  text-decoration: none;
}
.topnav li:hover ul {
  display: block;
}
nav > ul::after {
  content: "";
  display: block;
  clear: both;
}
.topnav li ul li a:hover {
  color: #BAD6EB;
}
.topnav li ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-align: left;
}

.toggle label {
  display:none;
  font-size: 20px;
  width: 25px;
}
#toggle {
  display: none;
}

@media only screen and (max-width: 640px) {
  label {
      display: block;
      width: 20px;
      padding-left: 20px;
      color:#ffffff;
  }
  .topnav {
      width: 50%;
      text-align: center;
      display: none;
      flex-direction: column;
  }
  .topnav li ul {
      width: 100%;
      z-index: 1;
  }
  .topnav a {
      display: none;
  }
  #toggle:checked + .topnav {
      display: block;
  } 

  .banner {
    display: flex;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}

#logo{
  height: 60px;
  width: 70px;
}