li {
    display: inline;
    padding: 7px;
    border: 0px solid;
    font-size: 20px;
    background-color: #061026;
    margin: 10px;
    width:125px;
    border: radius 5px; 
}

li a {
    color: #ffffff;
}

body {
    font-family: century gothic, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  nav ul {
    display: flex;
    justify-content: right;
    background-color: #061026;
    padding: 10px 0;
    margin: 0;
    list-style-type: none;
  }

  nav ul li {
    position: relative;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
  }

  nav ul li:hover .dropdown {
    display: block;
  }

  .dropdown {
    display: none;
    position: absolute;
    background-color: #34839f;
    padding: 5px 0px;
    list-style-type: none;
    left: 0;
    width: 125px;
  }

  .dropdown li {
    padding: 0px;
  }
  
  .banner {
    width:100%;

  }

