
.styled-link {
     padding: 5px;
     background-color: #BAD6EB; 
     border: 7px solid #081F5C;

}
main p:first-of-type::first-letter {
     font-size: 225%; 
     color: #081F5C; 
 }

 main p:not(:first-of-type)::before{
     content:"";
     display: inline-block;
     width: 20px;
 }

 h1 {
     color:#ffffff;

 }

.video-section {
     flex: 1; 
     padding: 20px;

}
.video-section iframe {
     width: 600px;
     height: 400px;
     padding: 25px;
     border:none;
   
}

body, html {
     margin: 0;
     padding: 0;
     font-family: "century gothic", sans-serif;
     font-size: 15px;
   }

   .grid-container {
     display: grid;
     grid-template-rows: auto 1fr;
     grid-gap: 0px;
   }

   header, footer {
     background-color: #061026;
     color: white;
     padding: 20px;
   }

   .top-row, .bottom-row, .section-3, .section-4 {
     padding: 20px;
   }

   .top-row, .section-3 {
     background-color: #ffffff;
   }

   .bottom-row, .section-4 {
     background-color: #BAD6EB;
   }

   .container {
     display: grid;
     grid-template-columns: 1fr .5fr;
   }

   .right-column, .left-column {
     padding: 20px;
   }

   .left-column {
     background-color:#ffffff;
   }

   .right-column {
     background-color: #BAD6EB;
   }
   
   #section1, #section2, #section3, #section4 {
     display: grid;
     align-items:center;
     grid-template-columns: auto 1fr;
     column-gap: 15px;
   }
   #innate, #adaptive, #function, #disorders{
     display: grid;
     align-items:center;
     grid-template-columns: 1fr auto;
     column-gap: 15px;
   }
   .learnpage {
     float:right;
     width: 300px;
     height: 200px;
   }
   
@media only screen and (max-width:640px)
{
     .grid-container {
          grid-template-columns: 1fr;
     }
     .container {
          grid-template-columns: 1fr;
     }
     #section1, #section2, #section3, #section4{
          grid-template-columns:1fr;
          display:grid;
          align-items: center;
     }
     #function, #innate, #adaptive, #disorders{
          grid-template-columns:1fr;
          display:grid;
          align-items: center;
     }
     body, html {
          font-family: "century gothic", sans-serif;
          font-size: 15px;
     }

     .video-section iframe {
          width: 100%;
          height: 400px;
        
     }
}


   .resume-text{
    text-align: center;
    padding: 55px;
}
.image-box{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
}

.quote{
     text-align: center;
     padding: 20px;
     margin: 0px; 
}

@media print {
     * {
          background: transparent !important;
          color: #000 !important;
          box-shadow: none !important;
          text-shadow: none !important;
          padding:0px;
     }

     .top-header{
          margin-bottom: 0;
          border:none;
          text-align:center;
          font-size: 3em;
     }

     @page {
          margin: 1in;
     }
     
   blockquote, p, footer {
     color: black;
     font-family:Georgia, 'Times New Roman', Times, serif;
     padding: 0px;
   }
   footer{
     page-break-before: avoid;
}
   
   nav, .banner, .video-resume, .resume-text, .image-box, i {
     display: none;
   }
   .grid-container {
     grid-template-columns: 1fr;
}
.container {
     grid-template-columns: 1fr;
}
main p:first-of-type::first-letter {
     font-size: 225%; 
     color: black; 
}
}

i:hover{
     transform: scale(1.50);
     transition: transform 0.5s ease;
}

footer{
     background-image: url('images/backround.png');
     background-size: cover;
     background-repeat: no-repeat;
     height: 150px;
     display: grid;
}

.top-header {
    width:100%;
    max-width:960px; 
    padding: 0px;
    font:3em "bebas neue", static;
}