
.styled-link {
     padding: 5px;
     background-color: #BAD6EB; 
     border: 7px solid #081F5C;

}
main p:first-of-type::first-letter {
     font-size: 225%; 
     color: #081F5C; 
 }

 main p:not(:first-of-type)::before{
     content:"";
     display: inline-block;
     width: 20px;
 }

 h1 {
     color:#ffffff;

 }

.video-section {
     flex: 1; 
     padding: 20px;

}
.video-section iframe {
     width: 500px;
     height: 400px;
   
}

body, html {
     margin: 0;
     padding: 0;
     font-family: "century gothic", sans-serif;
     font-size: 15px;
   }

   .grid-container {
     display: grid;
     grid-template-rows: auto 1fr;
     grid-gap: 0px;
   }

   header, footer {
     background-color: #061026;
     color: white;
     padding: 20px;
   }

   .top-row, .bottom-row {
     padding: 20px;
   }

   .top-row {
     background-color: #ffffff;
   }

   .bottom-row {
     background-color: #BAD6EB;
   }

   .container {
     display: grid;
     grid-template-columns: 1fr .5fr;
   }

   .right-column, .left-column {
     padding: 20px;
   }

   .left-column {
     background-color:#ffffff;
   }

   .right-column {
     background-color: #BAD6EB;
   }

@media only screen and (max-width:480px)
{
     .grid-container {
          grid-template-columns: 1fr;
     }
     .container {
          grid-template-columns: 1fr;
     }
     body, html {
          font-family: "century gothic", sans-serif;
          font-size: 15px;
     }

     .video-section iframe {
          width: 100%;
          height: 400px;
        
     }
}


   .resume-text{
    text-align: center;
    padding: 55px;
}
.image-box{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
}

.quote{
     text-align: center;
     padding: 20px;
     margin: 0px; 
}